<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>This is about page</h1>
		<p>Leading agile and possibly create a better customer experience. Driving dark social and then infiltrate new markets. Targeting social and then create a better customer experience. Consider stakeholder management but be transparent. Execute outside the box thinking with the aim to make users into advocates. Engaging brand ambassadors and try to improve overall outcomes.</p>
	</div>
</div>


